* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Familjen Grotesk';font-size: 22px;
}

.d-none {
  display: none !important;
}

.h3-not-center {
  text-align: left;
  font-size: 14px;
}

.card-span {
  font-size: 13px;
}

.main {
  margin-top: 90px;
  height: 100vh;
}
@media (min-width: 1100px) {
  .main {
    display: flex;
    margin-top: 0;
  }
}

.sectionOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  font-size: 20px;
}

/* NAVAR MOBIL --------------------*/

.x-span {
  position: absolute;
  top: 0px;
  right: 11px;
  cursor: pointer;
}

.pop-nav {
  z-index: 3;
  padding: 60px 26px;
  position: absolute;
  background-color: rgba(30, 49, 144, 0.9);
  width: 100%;
  top: 14px;
  right: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 600px) {
  .pop-nav {
    max-width: 296px;
    height: 308px;
  }
}

.navbar-mobil {
  height: fit-content;
  background-color: #071ca1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-navM {
  height: 45px;
  width: 45px;
  padding: 15px 15px;
  cursor: pointer;
}

.navbar-wrapper {
  width: 13%;
  display: none;
}

.nav-icon {
  width: 30px;
  height: 30px;
  padding: 8px 8px;
  cursor: pointer;
}

.navbarLeft {
  background-color: #071ca1;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

li a {
  color: rgb(214, 213, 213);
  text-decoration: none;
}

li {
  list-style: none;
  padding: 20px;
}
@media (min-width: 600px) {
  li {
    padding: 30px;
  }
}
@media (min-width: 886px) {
  li {
    padding: 8px;
  }
}

li:hover {
  cursor: pointer;
  border-left: 3px solid whitesmoke;
  text-decoration: whitesmoke;
  transition: all 190ms ease-in-out;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 20px 10px;
  object-fit: contain;
}

ul {
  margin-top: 20px;
}

.logoLogin {
  width: 35px;
  height: 35px;
  padding: 20px 10px;
  object-fit: contain;
  border-radius: 100%;
}

.logoLogin:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/** CONTENT **/

.content {
  width: 80%;
  margin-left: 50px;
  margin-top: 25px;
}

/** BOARD **/

.delete-task {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  bottom: 8px;
  cursor: pointer;
}

.delete-task-backlog {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .board-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}

.wrapper-card-elements {
  padding: 12px 12px;
  min-height: 67px;
}
.boardImg {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  right: 4px;
  object-fit: cover;
  padding: 4px 4px;
}

.grey-container {
  display: flex;
  background-color: rgb(244 243 251);
  width: 97%;
  min-height: 113px;
  height: max-content;
  margin: 20px;
  border-radius: 10px;
  overflow-y: overlay;
}
@media (min-width: 1100px) {
  .grey-container {
    height: 700px !important;
    width: 200px;
    display: block;
  }
}

h3 {
  text-align: center;
}

.column {
  padding-top: 30px;
}

/* Add Task Style ---------------------*/

.plus-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  cursor: pointer;
}
.plus-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.firstRow {
  padding-top: 5px;
}

.button-no-default-style {
  border: none;
  background-color: transparent;
}

h2 {
  font-weight: 600px;
  margin-top: 50px;
  padding-bottom: 8px;
}

.blueText {
  color: #071ca1;
  padding: 4px 0;
}

.addTaskBox {
  height: 400px;
  max-width: 700px;
  background-color: rgb(244, 243, 251);
  margin-top: 30px;
  border-radius: 3%;
}

.flex {
  display: flex;
}
.flexAddTask {
  display: block;
}

.width50 {
  width: 100%;
  height: max-content;
}

h4 {
  font-size: 0.8rem;
  margin: 0 8px;
}

.thirdRow {
  position: relative;
}

.marginLeft {
  margin-left: 0;
}

input {
  height: 25px;
  width: 90%;
  margin: 0 8px;
}

select {
  width: 90%;
  margin: 0 8px;
  height: 29px;
}

textarea {
  width: 90%;
  margin: 0 8px;
  height: 45px;
}

.assignedTo {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.plus-btn {
  width: 30px;
  height: 30px;
}

.assignedToRow {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.assignedToRow2 {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  position: absolute;
  right: 28px;
  bottom: 2px;
}

.createTask {
  display: block;
  background-color: rgb(30 49 144);
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.cancelbutton {
  width: 30px;
  height: 30px;
}

.cancelbutton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bottomdiv {
  display: flex;
  gap: 4rem;
}

/** LOGIN **/
.Join_Logo{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.wrapper-login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  color: white;
  z-index: 999;
  margin-right: 650px;
  
  margin-bottom: 20px;
}

.input-login {
  
  width: 150px !important;
  border: none;
  height: 30px;
  border-radius: 100px;
  padding-left: 8px;
  margin-left: 20px;
  background-color: rgb(37,37,36);
  color: white;
  
}

.login-btn {
  color: white;
  height: 30px;
  background-color: rgb(77 76 76);
  border: 1px solid #0c0c0c;
  border-radius: 231px;
  width: 114px;
  margin-bottom: 18px;
  cursor: pointer;
  margin: 96px;
  margin-top: 24px;
  margin-bottom: 14px;
}

.login-row {
 
  gap: 1rem;
  display: flex;
  align-items: center;
  padding: 4px;
}

.test-login {
  font-size: 0.8rem;
}

.background-image {
  position: absolute;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/** BACKLOG **/

b {
  font-size: 0.8rem;
}
@media (min-width: 400px) {
  b {
    font-size: 16px;
  }
}

.headlineContainer {
  font-weight: 600px;
  margin-top: 50px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.backlogCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0px !important;
  background-color: rgb(244, 243, 251);
  border-radius: 3%;
  padding: 10px 0;
  margin: 8px 0;
  color: rgb(77, 76, 76);
}

.width30 {
  width: 20%;
  display: flex;
  padding-left: 10px;
}
@media (min-width: 330px) {
  .width30 {
    width: 30%;
  }
  .width50bl {
    width: 50%;
  }
}

.width20 {
  width: 20%;
}

.width50bl {
  width: 40%;
}

.assignedTo {
  display: flex;
  justify-content: space-around;
}

.assignedToText {
  display: none;
}

@media (min-width: 600px) {
  .assignedToText {
    display: block;
    padding-left: 8px;
  }
}

.backlogCardCategor {
  display: flex;
  text-align: center;
}

/** HELP **/

.KanbanMeaning {
  max-width: 750px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: rgb(244, 243, 251);
  padding: 12px;
  border-radius: 10px;
  color: rgb(77, 76, 76);
}

.Helph4 {
  color: #071ca1;
}

/**Drag and Drop**/

body {
  height: 100vh;
  width: 100%;
}

.drop-area {
  width: 80%;
  background-color: rgb(210, 210, 241);
  height: 100px;
  margin: 20px;
}

.drop-element {
  width: 140px;
  height: max-content;
  background-color: hsl(242deg 27% 94%);
  margin: 15px 15px;
  border-radius: 5px;
  box-shadow: 10px 20px 15px silver;
  border-radius: 20px;
  position: relative;
  cursor: move;
}

@media (min-width: 1100px) {
  .navbar-wrapper {
    width: 13%;
    display: block;
  }

  .navbar-mobil {
    display: none;
  }

  .content {
    margin-top: 0;
  }
}

@media (min-width: 740px) {
  .marginLeft {
    margin-left: 45px;
  }
  .flexAddTask {
    display: flex;
  }
  .width50 {
    width: 50%;
    height: 115px;
  }
  input {
    max-width: 260px;
    height: 45px !important;
    box-sizing: border-box;
  }
  select {
    max-width: 260px;
    height: 45px !important;
    box-sizing: border-box;
  }
  textarea {
    width: 260px !important;
    height: 75px !important;
    box-sizing: border-box;
  }
  .firstRow {
    padding-top: 25px;
  }
  .blueText {
    color: #071ca1;
    padding-bottom: 10px;
  }
  .assignedTo {
    height: 53px !important;
    width: 53px !important;
  }
  .createTask {
    display: block;
  }
  .plus-icon {
    display: none;
  }
}

.greyText {
  color: #a6a7bc8f;
}

.trash-archive {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.trash-archive:hover {
  transform: scale(1.1);
  transition: all 190ms ease-in-out;
}
